node-red.json
[
    {
        "id": "2133e316d2660d74",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eda1a8da147c2d6e",
        "type": "mqtt in",
        "z": "2133e316d2660d74",
        "name": "",
        "topic": "Projeto/Umidade",
        "qos": "0",
        "datatype": "utf8",
        "broker": "782cacb4ef6fd1b2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 400,
        "y": 300,
        "wires": [
            [
                "c22b72cc3c17b6a2",
                "c2c3cb5f43f2a204"
            ]
        ]
    },
    {
        "id": "201c373b0d843a4f",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "2133e316d2660d74",
        "name": "",
        "credtype": "account",
        "account": "199726b5813bd0db",
        "text": "payload",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "msg",
        "rejectssl": false,
        "x": 1240,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "bc93bffafe5fcfac",
        "type": "influxdb out",
        "z": "2133e316d2660d74",
        "influxdb": "866bd5abc367f044",
        "name": "influx",
        "measurement": "Umidade",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "bfbe6df650ca9d89",
        "bucket": "IOT",
        "x": 970,
        "y": 300,
        "wires": []
    },
    {
        "id": "c2c3cb5f43f2a204",
        "type": "switch",
        "z": "2133e316d2660d74",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "60.0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 220,
        "wires": [
            [
                "94bea3ff81f446f8"
            ]
        ]
    },
    {
        "id": "a50852d577f9b9ee",
        "type": "debug",
        "z": "2133e316d2660d74",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 380,
        "wires": []
    },
    {
        "id": "c22b72cc3c17b6a2",
        "type": "function",
        "z": "2133e316d2660d74",
        "name": "function 3",
        "func": "let buf=msg.payload;\nmsg.payload=parseFloat(buf);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 380,
        "wires": [
            [
                "bc93bffafe5fcfac",
                "a50852d577f9b9ee"
            ]
        ]
    },
    {
        "id": "2b8533179410063a",
        "type": "delay",
        "z": "2133e316d2660d74",
        "name": "",
        "pauseType": "rate",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1040,
        "y": 220,
        "wires": [
            [
                "201c373b0d843a4f"
            ]
        ]
    },
    {
        "id": "94bea3ff81f446f8",
        "type": "function",
        "z": "2133e316d2660d74",
        "name": "function 4",
        "func": "var umidade = msg.payload\nmsg.payload = \"Alerta!!! A umidade da água ultrapassou 60%! Valor atual: \" + umidade + \"%\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 220,
        "wires": [
            [
                "2b8533179410063a"
            ]
        ]
    },
    {
        "id": "782cacb4ef6fd1b2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "199726b5813bd0db",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": "texto"
    },
    {
        "id": "866bd5abc367f044",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "Influx",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://us-east-1-1.aws.cloud2.influxdata.com",
        "timeout": 10,
        "rejectUnauthorized": true
    }
]
